.ionGridL {
    width: 100%;
    height: 100%;
}

.ionContentL {
    --padding-top: 10vh;
    --background: black;
}

.ionButtonRowPaddingL {
    padding-top: 10vh;
}

.ionTextL {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 10vh;
}
